* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
  padding: 20px;
}
ul {
  list-style-type: none;
  display: inline-block;
}
nav {
  vertical-align: middle;
  display: inline-block;
}
li {
  text-align: center;
}
header {
  background-color: #0020f4;
  display: inline-block;
  max-width: 1920px;
  width: 100%;
  padding-left: 240px;
  max-height: 388px;
}
.navbar li a:hover {
  background-color: red;
}
.logo {
  width: 80px;
  height: 80px;
}
.animations {
  position: relative;
  padding: 300px 0;
  overflow: hidden;
}
.left,
.right {
  width: 100px;
  height: 100px;
  /*background-color: grey;  ამის წაშლის უფლებას არ მაძლევს (აწითლებს), თან არაფერო ცვლილებაა არ ჩანს სადმე და რა არის არასწორი?*/
  position: absolute;
}
.left {
  top: 50%;
  left: 0;
  animation-name: moveRight;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: linear;

  animation-iteration-count: 5;
}
.right {
  right: 0;
  top: 50%;
  animation-name: moveLeft;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: linear;

  animation-iteration-count: 5;
}
